@(cartId: String)

@main("Products"){


        <script>
            getAllProducts()

        </script>

    <label type="hidden" style = "{display: none}" id ="cart_id"">@cartId</label>
    
    <script>

    var id = $('#cart_id' ).text( ).toString()
    if(id!="None") {
    getCartItems(id)
    }
    </script>
    
    <div id="featured_products">
    <div class="row">
        <div id="products">
           @*<image src="@routes.Assets.at("images/54c4b1304a0000c700e12661.jpg")"/>*@
            @*<image src="/assets/images/54c4b1304a0000c700e12661.jpg"/>*@
        </div>
    </div>
    </div>




    
    <div id="cart">
        <table>
            <tr id="title">
                @*<label id = "cart_id" style=" text-indent: 5em;"></label>*@
                <td class="cart_price" style=" text-indent: 5em;">

                </td>
                <td class="cart_quantity" style=" text-indent: 5em;">

                </td>
                <td class="clear_cart" style=" text-indent: 5em;">
                    <input type="button" class="btn" value="Clear Cart">
                </td>
            </tr>

            
            <div id="cart_items">

            </div>
            
            
            
        </table>

    </div>

}