
@(orderID: String)


@mainshop("Bill"){


    <label type="hidden" style = "{display: none}" id ="order_id">@orderID</label>

    <script>

    var id = $('#order_id').text().toString()
    console.log(id)

    getOrderById(id)

    </script>

        <div class="wrapper">
                <!--=== Header v5 ===-->
            <div class="header-v5 header-static">
                    <!-- Topbar v3 -->
                <div class="topbar-v3">
                    <div class="search-open">
                        <div class="container">
                            <input type="text" class="form-control" placeholder="Search">
                            <div class="search-close"><i class="icon-close"></i></div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                    <!-- Topbar Navigation -->
                                <ul class="left-topbar">

                                </ul><!--/end left-topbar-->
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-inline right-topbar pull-right">
                                    <li><a href="#">Account</a></li>
                                    <li><a href="shop-ui-add-to-cart.html">Wishlist (0)</a></li>
                                    <li><a href="shop-ui-login.html">Login</a> | <a href="shop-ui-register.html">Register</a></li>
                                    <li><i class="search fa fa-search search-button"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--/container-->
                </div>
                    <!-- End Topbar v3 -->

                    <!-- Navbar -->
                <div class="navbar navbar-default mega-menu" role="navigation">
                    <div class="container">
                            <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="index.html">
                                <img id="logo-header" src="@routes.Assets.at("/shop/img/logo.png")" alt="Logo">
                            </a>
                        </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-responsive-collapse">
                                <!-- Badge -->
                            <ul class="list-inline shop-badge badge-lists badge-icons pull-right">
                                <li>
                                    <a href="#"><img src ="@routes.Assets.at("/shop/img/cart.png")"/></a>
                                    <span id="no-of-items" class="badge badge-sea rounded-x">0</span>

                                </li>
                                <li class="subtotal">
                                    <div class="overflow-h margin-bottom-10">
                                        <span>Subtotal</span>
                                        <span id="total-amount" class="pull-right subtotal-cost">Rs.00.00</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6" id="cart_top">
                                            <div class="clear_cart">
                                                <a class="btn-u btn-brd btn-brd-hover btn-u-sea-shop btn-block">Clear Cart</a>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <a href="/page/checkout" class="btn-u btn-brd btn-brd-hover btn-u-sea-shop btn-block">Checkout</a>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                                <!-- End Badge -->

                            <ul class="nav navbar-nav">
                                    <!-- Pages -->
                                <li class="dropdown active">
                                    <a href="/page/shop" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                                        Shop
                                    </a>
                                    <ul class="dropdown-menu">
                                        @*<li class="active"><a href="/page/shop">Shop UI</a></li>*@

                                    </ul>
                                </li>
                                    <!-- End Pages -->

                                    <!-- Promotion -->
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                                        Promotion
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a href="javascript:void(0);">Jeans</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Skinny Jeans</a></li>

                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a href="javascript:void(0);">Shoes</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Sandals</a></li>

                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                    <!-- End Promotion -->

                            </ul>
                        </div><!--/navbar-collapse-->
                    </div>
                </div>
                    <!-- End Navbar -->
            </div>
                <!--=== End Header v5 ===-->

                <!--=== Breadcrumbs v4 ===-->
            <div class="breadcrumbs-v4">
                <div class="container">
                    <span class="page-name">Check Out</span>
                    <h1>Maecenas <span class="shop-green">enim</span> sapien</h1>
                    <ul class="breadcrumb-v4-in">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">Product</a></li>
                        <li class="active">Shopping Cart</li>
                    </ul>
                </div><!--/end container-->
            </div>
                <!--=== End Breadcrumbs v4 ===-->

                <!--=== Content Medium Part ===-->
            <div class="content-md margin-bottom-30">
                <div class="container">
                    <form class="shopping-cart" action="#">
                        <div>
                            <div class="header-tags">
                                <div class="overflow-h">
                                    <label id="orderId"></label>
                                    <h2>Bill No: <label type="hidden" style = "{display: none}" id ="order_id">@orderID</label></h2>

                                </div>
                            </div>
                            <section>
                                <div class="table-responsive">
                                    <table class="table table-responsive">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Price</th>
                                                <th>Qty</th>
                                                <th>Total</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="cart_items">

                                        </tbody>
                                    </table>
                                </div>
                            </section>

                        </div>
                    </form>
                </div><!--/end container-->
            </div>
                <!--=== End Content Medium Part ===-->





        </div>


        <script>
            renderBill()
        jQuery(document).ready(function() {
        App.init();
        Login.initLogin();
        StepWizard.initStepWizard();
        StyleSwitcher.initStyleSwitcher();
        });
        </script>

    
}