@(message: String)


@main("Cart "){


                    <div id="cart">
                        <table>
                            <tr id="title">
                                <label id = "cart_id" style=" text-indent: 5em;"></label>
                                <td class="cart_price" style=" text-indent: 5em;">

                                </td>
                                <td class="cart_quantity" style=" text-indent: 5em;">

                                </td>
                                <td class="clear_cart" style=" text-indent: 5em;">
                                    <input type="button" class="btn" value="Clear Cart">
                                </td>
                            </tr>
                            <tr class="cart_menu">
                                @*<td class="image">Item</td>*@
                                @*<td class="description"></td>*@
                                @*<td class="price" style=" text-indent: 5em;">Price</td>*@
                                @*<td class="quantity" style=" text-indent: 5em;">Quantity</td>*@
                                @*<td class="total" style=" text-indent: 5em;">Total</td>*@
                                @*<td></td>*@
                            </tr>

                            <div id="cart_items">

                            </div>



                        </table>

                    </div>
    
    
}