@(message: String)

@main("Host form"){

	<script src="@routes.Assets.at("javascripts/host.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
		<input type="text" id="name" placeholder="name"></br>
		<select id="bloodGroup">
			<option id="A -ve">A1 -ve</option>
			<option id="A +ve">A1 +ve</option>
			<option id="AB -ve">AB -ve</option>
			<option id="AB +ve">AB +ve</option>
			<option id="B -ve">B -ve</option>
			<option id="B +ve">B +ve</option>
			<option id="O +ve">O +ve</option>
			<option id="O -ve">O -ve</option>	  
		</select></br>
		<input type="text" id="phoneNumber" placeholder="phone number" size="10"></br>
		<input type="text" id="location" placeholder="location"></br>
		<input type="submit" value="Ask for Blood" onclick="createHost()"></br>
		
}
