@(message: String)

@main("index"){

<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
getContacts();
</script>

<ul id="response"></ul>
<ul id="contacts"></ul>

<input type="text" id="name" placeholder="name"></br>
<select id="bloodGroup">
    <option id="A -ve">A1 -ve</option>
    <option id="A +ve">A1 +ve</option>
    <option id="AB -ve">AB -ve</option>
    <option id="AB +ve">AB +ve</option>
    <option id="B -ve">B -ve</option>
    <option id="B +ve">B +ve</option>
    <option id="O +ve">O +ve</option>
    <option id="O -ve">O -ve</option>
</select></br>
<input type="text" id="phoneNumber" placeholder="phone number" size="10"></br>
<input type="text" id="email" placeholder="email"></br>
<input type="text" id="address" placeholder="address"></br>
<input type="submit" value="Register" onclick="createContact()"></br>
<input type="submit" value="Update" onclick="updateContact()"></br>
<input type="submit" value="Find" onclick="findContactByPhone()"></br>
<input type="submit" value="Delete" onclick="deleteContact()"></br>

<input type="submit" value="WebSocket" onclick="webSocketTest()"></br>

}
