@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>@title</title>
        
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" media="all">
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("shop/css/app.css")" media="all">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("shop/css/settings.css")" media="all">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("shop/css/shop.style.css")" media="all">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("shop/css/shop.blocks.css")" media="all">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("shop/css/style-switcher.css")" media="all">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("shop/css/header-v5.css")" media="all">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("shop/css/animate.css")" media="all">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("shop/css/custom-jquery.steps.css")" media="all">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("shop/css/footer-v4.css")" media="all">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("shop/css/log-reg-v3.css")" media="all">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("shop/css/line-icons.css")" media="all">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("shop/css/masterslider.css")" media="all">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("shop/css/style.css")" media="all">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("shop/css/jquery.nouislider.css")" media="all">
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("shop/css/perfect-scrollbar.css")" media="all">
        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
        
        <script src="@routes.Assets.at("javascripts/host.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/admin.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/shop.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/customer.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/order.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/cart.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("shop/js/jquery.nouislider.full.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("shop/js/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("shop/js/jquery.steps.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("shop/js/shop.app.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("shop/js/page_contact_form.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("shop/js/page_login.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("shop/js/page_registration.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("shop/js/product-quantity.js.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("shop/js/master-slider.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("shop/js/owl-carousel.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("shop/js/owl.carousel.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("shop/js/revolution-slider.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("shop/js/stepWizard.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("shop/js/style-switcher.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("shop/js/jquery.mousewheel.js")" type="text/javascript"></script>

        
        

        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=true"></script>
    </head>
    <body class="header-fixed">

         @content

    </body>
</html>
