@(message: String)

@main("Orders"){
    
    <div id="orders">
        
        
    </div>
    <div id="customers">
        <label id="customer_id" style=" text-indent: 5em;"></label>
        <label id="customer_name" style=" text-indent: 5em;"></label>
        <label id="customer_phone" style=" text-indent: 5em;"></label>
    </div>

    <div id="carts">
        <table>
            <tr id="title">
                <label type="hidden" id = "cart_id" style=" text-indent: 5em;"></label>
                <td id="total-amount" style=" text-indent: 5em;">

                </td>
                <td id="no-of-items" style=" text-indent: 5em;">

                </td>

            </tr>
            <tr id="cart_items">

            </tr>




        </table>
        <script>

        </script>

    </div>

    <script>
        getAllOrders()
        
    </script>

}
    