@(message: String)

<html>
    <head>
        <title>Sign Up</title>
        <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("js/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="input-group input-group-sm">
            <span class="input-group-addon">
                <input type="text" class="form-control" id="name" placeholder="Name"></br>
                <input type="text" class="form-control" id="phone" placeholder="Phone"></br>
                <input type="text" class="form-control" id="email" placeholder="Email"></br>
                <input type="text" class="form-control" id="address" placeholder="Address"></br>
                <input type="text" class="form-control" id="name" placeholder="Name"></br>
                <input type="submit" value="Sign Up" onclick="createContact()"></br>
            </span>
        </div>
    </body>
</html>
